<h2>Create Person</h2>
<form (ngSubmit)="createPerson()" #personForm="ngForm">
  <label>Name:</label>
  <input type="text" [(ngModel)]="person.name" name="name" required /><br /><br />

  <label>Age:</label>
  <input type="number" [(ngModel)]="person.age" name="age" required /><br /><br />

  <label>Gender:</label>
  <select [(ngModel)]="person.gender" name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select><br /><br />

  <label>Mobile:</label>
  <input type="text" [(ngModel)]="person.mobile" name="mobile" required /><br /><br />

  <button type="submit">Add</button>
</form>
